{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>products</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="wrapper">

        {% if user.is_authenticated %}
            <form class="logout-form" action="{% url 'accounts:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Log Out</button>
            </form>
        {% else %}
            <a href="{% url 'accounts:signup' %}">signup</a>
            <a href="{% url 'accounts:login' %}">login</a>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>